[Install]
WantedBy=default.target

[Unit]
After=misp-{{ item[0].name }}.service
After=misp-{{ item[0].name }}-redis.kube
After=misp-{{ item[0].name }}-network.service
PartOf=misp-{{ item[0].name }}.service

[Kube]
Yaml=misp-{{ item[0].name }}-modules.yml
Network=misp-{{ item[0].name }}.network
