[Unit]
Description=MISP Application
Requires=misp-{{ item[0].name  }}-network.service
Requires=misp-{{ item[0].name  }}-db.service
Requires=misp-{{ item[0].name  }}-redis.service
Requires=misp-{{ item[0].name  }}-modules.service
Requires=misp-{{ item[0].name  }}-core.service

[Service]
Type=oneshot
# Execute a dummy program
ExecStart=/bin/true
RemainAfterExit=yes
